<?xml version="1.0" encoding="utf-8"?>
<!--Published:70EDFC97-B41D-43C5-B751-7C00AD999804-->
<!--Created:cb85b80c-f585-40ff-8bfc-12ff4d0e34a9-->
<OfficeApp xmlns="http://schemas.microsoft.com/office/appforoffice/1.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="TaskPaneApp">
  <Id>9d2d350b-3374-4e43-8c8f-a54caf59eea8</Id>
  <Version>1.0.0.0</Version>
  <ProviderName>SpringCM</ProviderName>
  <DefaultLocale>en-US</DefaultLocale>
  <DisplayName DefaultValue="SpringCM for Office" />
  <Description DefaultValue="SpringCM for Office allows one to access their SpringCM content from within Office applications and use that content to manipulate their documents." />
  <IconUrl DefaultValue="https://springcmwordaddinprodwebapp.azurewebsites.net/Images/favicon-32x32.png" />
  <HighResolutionIconUrl DefaultValue="https://springcmwordaddinprodwebapp.azurewebsites.net/Images/favicon-64x64.png" />
  <AppDomains>
    <AppDomain>https://login.springcm.com</AppDomain>
    <AppDomain>https://na11.springcm.com</AppDomain>
    <AppDomain>https://na21.springcm.com</AppDomain>
  </AppDomains>
  <Hosts>
    <Host Name="Workbook" />
    <Host Name="Document" />
  </Hosts>
  <DefaultSettings>
    <SourceLocation DefaultValue="https://springcmwordaddinprodwebapp.azurewebsites.net/" />
  </DefaultSettings>
  <Permissions>ReadWriteDocument</Permissions>
</OfficeApp>
